<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style=>Sorting Algorithm Visualizer</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Sorting Algorithm Visualizer</h1>
        <form method="POST" action="/visualize">
            <label for="algorithm">Choose Sorting Algorithm:</label>
            <select name="algorithm" id="algorithm">
                <option value="bubble">Bubble Sort</option>
                <option value="selection">Selection Sort</option>
                <option value="insertion">Insertion Sort</option>
                <option value="merge">Merge Sort</option>
                <option value="quick">Quick Sort</option>
            </select>

            <label for="size">Select Array Size:</label>
            <input type="range" name="size" id="size" min="1" max="1000" value="50" oninput="this.nextElementSibling.value = this.value">
            <output>50</output>

            <button type="submit">Visualize</button>
        </form>
        
        <div class="message">
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
